<!DOCTYPE html>
<head>
	<script type ="text/javascript" >
	
		function make_contactfields_select(option_dict) {
			contactfield_select_elt = document.getElementById("contactfield_select");
			for (var key in option_dict) {
				contactfield_select_elt.innerHTML += '<option value="'+key+'">'+option_dict[key]+'</option>';
			}
		
		}
		function config_contacttype(contacttype_elt){
			//console.log(contacttype_elt.options[contacttype_elt.selectedIndex].value);
			if (contacttype_elt.options[contacttype_elt.selectedIndex].value == "BusinessContact"){
				document.getElementById("BusinessInputs").style.display = 'table-row-group';
				document.getElementById("HumanInputs").style.display = 'none';
			}
			else {
				document.getElementById("BusinessInputs").style.display = 'none';
				document.getElementById("HumanInputs").style.display = 'table-row-group';
			}
		}
		
		function add_field(select_elt) {
			selected_val = select_elt.options[select_elt.selectedIndex].value; 
			selected_txt = select_elt.options[select_elt.selectedIndex].innerText;
			var tbody = document.getElementById("contactfields");
			temp = document.createElement('table');   // make an empty dummy table to hold the new row
			temp.innerHTML = '<tr><th>'+selected_txt+'</th><td><input name="'+selected_val+'" type="text" size=50/> </td></tr>'; // put a row in the dummy table by using HTML text.
			elt = temp.rows[0];  // pull the row element out of the dummy table
			tbody.insertBefore(elt, null);  // append the row element to the real table.
		}
		
	</script>
</head>
<body onload = "config_contacttype(document.getElementById('ContactType_select'))">
{{user}}
Hello {{nickname}}!
<p>Is administrator: {{is_admin}}</p>
<h1>Comments</h1>
{{data}}
	<br><form action="/sign" method="post">
		<div><table>	
			<tr>
				<th>Select Type</th>
				<td>
					<select name = "ContactType" id = "ContactType_select" onchange = "config_contacttype(this)">
						{{contacttypeoptions}}
					</select>
				</td>
			</tr>
			<tbody id="BusinessInputs" style = "display:table-row-group">
				<tr>
					<th>Name:</th>
					<td><input name = "name" style="width: 464px; "></td>
				</tr>
			</tbody>
			<tbody id = "HumanInputs" style = "display:table-row-group">
				<tr>
					<th>First name:</th> 
					<td><input name = "firstname" style="width: 464px; "></td>
				</tr>			
				<tr>	
					<th>Last name:</th> 
					<td><input name = "lastname" style="width: 464px; "></td>
				</tr>
			</tbody>

			<tbody id=contactfields>
			</tbody>

			<tr>
				<th>Add Field</th>
				<td>
					<select id="contactfield_select" >
					</select>
					<input type="button" value="Add" onclick="add_field(document.getElementById('contactfield_select'));"/>
				</td>
			</tr>
		</table></div>
		<div>
			<input type="submit" value="Sign Guestbook">
		</div>
	</form>
	<input type = "button" value = "Sign Out" onclick = "window.location='{{signout_url}}'">
	
<script type ="text/javascript" >
	make_contactfields_select({{contactfields_dict}});

</script>
</body>
</html>